.gear-dropdown{
  right: 0%;
  width: 100%;
  padding: 1em;
  background: #FFF;
  border: 1px solid $light-gray;
  position: absolute;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  z-index: 1;
}


.dropdown-subtitle{
  margin-top: .75em;
  margin-bottom: .75em;
  font-weight: 900;
  color: $dark-gray;
  text-transform: uppercase;
}

.editions{
  border-bottom: 1px solid $light-gray;
}


.editions li:hover{
  background: $light-gray;
}

.editions a:hover{
  color: #000;
}

.gear-dropdown li a{
  font-size: 1.25em;
  color: $gray;
  text-transform: uppercase;
}

.gear-dropdown ul,
.gear-dropdown ul li{
  margin-top: .75em;
  margin-bottom: .75em;
}

.gear-dropdown ul.help li a{
  color: $blue;
}

.gear-dropdown ul.help li a:hover{
  text-decoration: underline;
}
