.main-nav {
  padding:1em;
  display: flex;
  justify-content:space-around;
}

.left-nav > ul,
.right-nav > ul {
  align-items:center;
}

.left-nav > ul > li {
  font-family: $sans-serif;
  font-size: 1em;
  text-transform:uppercase;
  font-weight:900;
	padding:8px;
	border-radius:3px;
	font-family:$sans-serif;
	text-transform:uppercase;
	font-size:inherit;
	text-align:left;
  color: #000;
  display: inline-block;
}

.right-nav{
  position: relative;
}

.right-nav > ul > li {
  font-family: $sans-serif;
  font-size: 1em;
  text-transform:uppercase;
  display: inline-block;
}

.right-nav > ul > li:last-of-type {
  color: #000;
	background-color: #FFF;
}

.right-nav li:last-child button{
	color: #000;
	background-color: transparent;
}

.right-nav li:last-child button:hover{
	background-color: $light-gray;
}


.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {
  margin: .75em;
}


.right-nav i {
  font-size: 1.25em;
}
